<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.dyq.android.SDLink"
    android:versionCode="13"
    android:versionName="1.4.3" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppSettingActivity"
            android:label="@string/title_activity_per_app_setting" >
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="重定向SD目录" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />

        <activity
            android:name=".AppListActivity"
            android:label="@string/title_activity_app_list" >
        </activity>
        <activity
            android:name=".EnabledAppListActivity"
            android:label="@string/title_activity_enabled_app_list" >
        </activity>

        <receiver
            android:name=".Receiver_onPackageInstall"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".DirectorySelectActivity"
            android:label="@string/title_activity_directory_select" >
        </activity>
    </application>

</manifest>
